body {
  overflow: hidden;
  background-color: #1f2933; /*#f0f4f8; 857f72 616e7c 627d98 3e4c59*/
  font-family: sans-serif;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 60px;
    padding: 2px;
    font: 13px sans-serif;
    background: #323f4b; /* lightsteelblue; */
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.title {
  font-size: 1.8vw;
  font-family: monospace;
  font-weight: bold;
  fill: #ffffffdd;
}

#radial-chart {
  position: relative
}

.button {
  position: absolute;
  z-index: 10;
  background-color: #ffffffcc;
  border: 3px solid steelblue;
  color: black;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  transition-duration: 0.4s;
  font-size: 12px;
}

.button:hover {
  background-color: steelblue;
  color: white;
  cursor: pointer;
}

.button-selected {
  background-color: steelblue;
  color: white;
}

/* #byState {
  margin-top: 10px;
}

#byRestaurant {
  margin-top: 50px;
}

#byUniqueRestaurant {
  margin-top: 100px;
} */
