body {
  overflow: hidden;
  background-color: #1f2933; /*#f0f4f8; 857f72 616e7c 627d98 3e4c59*/
  font-family: 'Asap', sans-serif;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 165px;
    height: 45px;
    padding: 2px;
    font: 13px sans-serif;
    background: #ffffff; /* lightsteelblue; */
    color: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.title {
  font-size: 2vw;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  fill: #ffffffee;
}

#radial-chart {
  position: relative
}

.button {
  font-family: 'Asap', sans-serif;
  position: absolute;
  z-index: 10;
  background-color: #ffffffee;
  border: none; /* 3px solid steelblue; */
  color: black;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  /* transition-duration: 0.4s; */
  font-size: 0.9vw;
}

.button:hover {
  background-color: #3895D3;
  color: white;
  cursor: pointer;
}

.button-selected {
  background-color: #3895D3;
  color: white;
}
